/TechLife.SSO/bin
/TechLife.SSO/obj
/packages
/TechLife.Api/bin
/TechLife.Api/obj
/TechLife.App/bin
/TechLife.App/obj
/TechLife.Common/bin
/TechLife.Common/obj
/TechLife.Data/bin
/TechLife.Data/obj
/TechLife.Model/bin
/TechLife.Model/obj
/TechLife.Service/bin
/TechLife.Service/obj
/TechLife.App/appsettings.Development.json
/TechLife.App/appsettings.Production.json
/.vs/CSDLDuLich/config/applicationhost.config
/.vs/CSDLDuLich/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/csdldulich.metadata.v5.2
/.vs/ProjectEvaluation/csdldulich.projects.v5.2
/.vs/VSWorkspaceState.json
/.vs/CSDLDuLich/v17/.suo
/.vs/CSDLDuLich/v17/fileList.bin
/.vs/CSDLDuLich/v17/.futdcache.v2
/TechLife.App/Database/csdlduclich2023
/TechLife.App/appsettings.Development.json
/TechLife.App/Database/DuLieuDemo
/TechLife.SSO/MaDangNhap/20233
/.vs/CSDLDL/v17
/.vs/CSDLDL
/.vs/CSDLDuLich/v17
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
