/TechLife.SSO/bin
/TechLife.SSO/obj
/packages
/TechLife.Api/bin
/TechLife.Api/obj
/TechLife.App/bin
/TechLife.App/obj
/TechLife.Common/bin
/TechLife.Common/obj
/TechLife.Data/bin
/TechLife.Data/obj
/TechLife.Model/bin
/TechLife.Model/obj
/TechLife.Service/bin
/TechLife.Service/obj
/TechLife.App/appsettings.Development.json
/TechLife.App/appsettings.Production.json
/.vs/CSDLDuLich/config/applicationhost.config
/.vs/CSDLDuLich/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/csdldulich.metadata.v5.2
/.vs/ProjectEvaluation/csdldulich.projects.v5.2
/.vs/VSWorkspaceState.json
/.vs/CSDLDuLich/v17/.suo
/.vs/CSDLDuLich/v17/fileList.bin
/.vs/CSDLDuLich/v17/.futdcache.v2
/.vs/CSDLDuLich/v16/.suo
/.vs/CSDLDuLich/FileContentIndex/read.lock
/.vs/CSDLDuLich/v17
/.vs/CSDLDuLich/
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/CSDLDuLich/FileContentIndex/dc1dbf01-5724-4a46-9dfe-ef47f9af0c78.vsidx
/.vs/CSDLDuLich/FileContentIndex/0498bc40-c858-4301-b442-da5900ba9f9b.vsidx
/.vs/CSDLDuLich/FileContentIndex/2992010c-bf6b-4d60-90f6-1807c658ef6e.vsidx
/.vs/CSDLDuLich/FileContentIndex/3baeb317-87ba-49c7-b90a-75291001c594.vsidx
/.vs/CSDLDuLich/FileContentIndex/495c4eb2-fc24-4c6e-9b4f-46bd30fe7b56.vsidx
/.vs/CSDLDuLich/FileContentIndex/60cc8b2d-0d9b-414e-bd6c-abd9bb36038b.vsidx
/.vs/CSDLDuLich/FileContentIndex/76075795-23ca-413a-905a-c26d25d42a39.vsidx
/.vs/CSDLDuLich/FileContentIndex/a8a2a021-afcb-4747-8e5f-2cd2fd9e8036.vsidx
/.vs/CSDLDuLich/FileContentIndex/bb5ed6f3-e92b-4356-9915-d9b3c52c4b15.vsidx
/.vs/CSDLDuLich/FileContentIndex/0498bc40-c858-4301-b442-da5900ba9f9b.vsidx
/.vs/CSDLDuLich/FileContentIndex/2992010c-bf6b-4d60-90f6-1807c658ef6e.vsidx
/.vs/CSDLDuLich/FileContentIndex/60cc8b2d-0d9b-414e-bd6c-abd9bb36038b.vsidx
/.vs/CSDLDuLich/FileContentIndex/76075795-23ca-413a-905a-c26d25d42a39.vsidx
/.vs/CSDLDuLich/FileContentIndex/bb5ed6f3-e92b-4356-9915-d9b3c52c4b15.vsidx
/.vs/CSDLDuLich/FileContentIndex/dc1dbf01-5724-4a46-9dfe-ef47f9af0c78.vsidx
/.vs/CSDLDuLich/FileContentIndex/read.lock
/.vs/CSDLDuLich/v16/.suo
/.vs/slnx.sqlite
/.vs/CSDLDuLich/FileContentIndex
/.vs/CSDLDuLich/CopilotIndices/17.14.794.21998
/.vs/CSDLDuLich/CopilotIndices/17.14.794.21998/CodeChunks.db
/.vs/CSDLDuLich/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
/.vs/CSDLDuLich/CopilotIndices/17.14.794.21998/SemanticSymbols.db
/.vs/CSDLDuLich/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
