/TechLife.SSO/bin
/TechLife.SSO/obj
/packages
/TechLife.Api/bin
/TechLife.Api/obj
/TechLife.App/bin
/TechLife.App/obj
/TechLife.Common/bin
/TechLife.Common/obj
/TechLife.Data/bin
/TechLife.Data/obj
/TechLife.Model/bin
/TechLife.Model/obj
/TechLife.Service/bin
/TechLife.Service/obj
