@{
    ViewData["Title"] = ViewData["Title"];;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TechLife.Common;
@using TechLife.Common.Enums;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model TechLife.App.Areas.HueCIT.Models.DiemGiaoDich
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


@section css {
    <link rel="stylesheet" href="~/css/style.css"/>
}
<style>
    #mapgg {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .custom-file-input {
        height: 100% !important
    }

    .add-images:hover {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.05) !important;
    }
</style>

<div class="content-wrapper" style="min-height: 1363.2px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Dữ liệu chuyên ngành liên thông</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <form asp-action="Add" enctype="multipart/form-data">
                            <div class="card-header">
                                <h3 class="card-title">@ViewData["Title"]</h3>
                                <div class="card-tools">
                                    <a href="@Context.Request.GetBackUrl()" class="btn btn-xs btn-outline-danger">
                                        <i class="fas fa-arrow-circle-left"></i> Quay lại
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <div class="card card-primary card-outline card-outline-tabs">
                                        <div class="card-header p-0 border-bottom-0">
                                            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Thông tin chung</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="custom-tabs-four-map-tab" data-toggle="pill" href="#custom-tabs-four-map" role="tab" aria-controls="custom-tabs-four-map" aria-selected="true">Vị trí trên bản đồ</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                                <!-- Thông tin hồ sơ -->
                                                <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tên điểm giao dịch <span class="text-red">*</span></label>
                                                                <input asp-for="TenDiaDiem" class="form-control" data-val-required="Vui lòng nhập tên điểm giao dịch."/>
                                                                <span asp-validation-for="TenDiaDiem" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Loại điểm giao dịch:</label>
                                                                <select class="form-control" asp-for="Loai" asp-items="ViewBag.listLoai">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="Loai" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Số điện thoại:</label>
                                                                <input class="form-control" asp-for="DienThoai" />
                                                                <span asp-validation-for="DienThoai" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Địa chỉ:</label>
                                                                <input class="form-control" asp-for="DiaChi" />
                                                                <span asp-validation-for="DiaChi" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Quận/ huyện/ thị xã</label>

                                                                <select class="form-control option-huyen" asp-for="QuanHuyenId" asp-items="ViewBag.listHuyen">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="QuanHuyenId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Xã/ phường/ thị trấn </label>
                                                                <select class="form-control option-xa" asp-for="PhuongXaId" asp-items="ViewBag.listXa">
                                                                    <option value="0">Chọn</option>
                                                                </select>
                                                                <span asp-validation-for="PhuongXaId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Giờ giao dịch</label>
                                                                <input class="form-control" asp-for="GioPhucVu" />
                                                                <span asp-validation-for="GioPhucVu" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Thông tin map -->
                                                <div class="tab-pane fade show" id="custom-tabs-four-map" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tọa độ X</label>
                                                                <input asp-for="X" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Tọa độ Y</label>
                                                                <input asp-for="Y" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="position-relative form-group">
                                                                <label class="control-label">Vị trí trên bản đồ</label>
                                                                <div id="map"></div>
                                                                @*<input type="hidden" class="position-mapp" asp-for="DuLieuDuLich.ViTriTrenBanDo" />*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="submit" name="type_sumit" value="save" class="btn btn-primary">Lưu</button>
                                    <button type="submit" name="type_sumit" value="save_create" class="btn btn-primary">Lưu và thêm mới</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/js/HueCIT/map.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function imageIsLoadedCustom(num, e) {
                var id = "img_" + num;
                document.getElementById(id).style.backgroundImage = "url('" + e.target.result + "')";
                var next = num + 1;
                var html = '<div class="col-sm-2"><div class="position-relative form-group add-images" id="img_' + next + '" style="background-image: url(\'https://i.stack.imgur.com/mwFzF.png\');height: 175px;background-size: cover "><label class="control-label"></label><input name="Files.Images" id="Files.Images" type="file" data-id="' + next + '" class="form-control custom-file-input upload-image" /><i data-parent="img_' + next + '" class="fas fa-times upload-remove d-none"></i></div></div>';
                $("#images").append(html);
                $(".upload-image").off("change").on("change", (function () {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        var number = $(this).data("id");
                        reader.onload = imageIsLoadedCustom.bind(reader, number);
                        reader.readAsDataURL(this.files[0]);
                        $('.upload-remove[data-parent="img_' + number + '"]').removeClass('d-none');
                    }
                }));

            };

            $(".upload-image").off("change").on("change", (function () {
                if (this.files && this.files[0]) 
                {
                    var reader = new FileReader();
                    var number = $(this).data("id");
                    reader.onload = imageIsLoadedCustom.bind(reader, number);
                    reader.readAsDataURL(this.files[0]);
                    $('.upload-remove[data-parent="img_' + number + '"]').removeClass('d-none');
                }
            }));

            $(document).on( "click", ".upload-remove", function() {
                let pa = $(this).attr('data-parent');
                if(pa) {
                    $('#' + pa + '').parent().remove();
                }
            });

            $(".option-huyen").on("change", (function () {
                $.ajax({
                    url: '/Home/ListDiaPhuongByParent/?id=' + $(this).val(),
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var html = "<option data-id='Chọn' value='0'>Chọn</option>";
                        for (let i = 0; i < data.length; i++) {
                            var obj = data[i];
                            html += "<option data-id='" + obj.tenDiaPhuong + "' value=" + obj.id + ">" + obj.tenDiaPhuong + "</option>"
                        }
                        $(".option-xa").html(html);
                    }
                });
            }));
        });
    </script>
}