@using TechLife.Common;
@using TechLife.Common.Extension;

@{
    ViewData["Title"] = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title_parent"]</li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content" id="view-content">
    </section>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            let element = document.getElementById('view-content')
            loadContent('@Html.Raw(Context.Request.GetRawUrl($"{Context.Request.PathBase}/DuLieuThongKe/TongHopList/"))', element);
        });
    </script>
}