.form-row:not(:last-child) {
    margin-bottom: 15px;
}

.form-row .form-group.position-relative {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

    .form-row .form-group.position-relative label {
        flex: 1;
        line-height: 1.3;
        margin-bottom: 0;
    }

.form-row .form-group .form-control {
    /*margin-top: -10px;*/
}

    @media (max-width: 767px) {
        .form-row > div[class*='col-md-'] {            
            margin-bottom: 15px;
        }
    }

.row .form-group.position-relative {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
}

    .row .form-group.position-relative label {
        flex: 1;
        line-height: 1.3;
        margin-bottom: 0;
    }