@model TechLife.Model.LoginModel
@{
    Layout = null;
}

<html lang="en">

<head>
    <title>Sở du lịch - Đăng nhập</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/login/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/login/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->

</head>

<body>
    <div class="row h-100">
        <div class="col-md-6 bg-login">
        </div>
        <div class="col-md-6">
            <div class="header-w3l mt-5">
                <div class="login-logo mb-2"><img src="/login/img/logo.png" /></div>
                <h2>HỆ THỐNG QUẢN LÝ </h2>
                <h2>THÔNG TIN CHUYÊN NGÀNH DU LỊCH</h2>
            </div>
            <div class="sub-main-w3 mt-3">
                <div class="wthree-pro">
                    <h2>ĐĂNG NHẬP</h2>
                </div>
                <form id="form-login" asp-action="Index" method="post">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control user" autocomplete="off" asp-for="UserName" placeholder="Tài khoản">
                        </div>
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control pass" autocomplete="off" asp-for="Password" placeholder="Mật khẩu">
                            <i class="fa fa-eye fa-eye-slash eye" aria-hidden="true"></i>
                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="sub-w3l">
                        @{
                            await Html.RenderPartialAsync("_Message");
                        }
                        <div class="right-w3l">
                            <button class="btn btn-primary" type="submit">ĐĂNG NHẬP</button>
                        </div>
                        <div class="social-auth-links text-center">
                            <p>- HOẶC -</p>
                            <div class="btn-login w-100 card">
                                <a class="text-decoration-none" href="/LoginWithSSO/?returnUrl=/">
                                    <div class="d-flex align-items-stretch card-confirmlogin">
                                        <div class="col-md-2 iconconfirm-login">
                                            <img src="~/login/img/sso-hue.jpg" class="w-100">
                                        </div>
                                        <div class="col-md-10 d-flex align-items-center card-body py-1 bodyconfirm-login text-center">
                                            <p class="w-100 m-0">
                                                Xác thực qua cổng SSO Thành phố Huế
                                                <br>     <strong>sso.hue.gov.vn</strong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="btn-login w-100 card mt-2">
                                <a class="text-decoration-none" href="/LoginWithSSOVNeID/?returnUrl=/">
                                    <div class="d-flex align-items-stretch card-confirmlogin">
                                        <div class="col-md-2 iconconfirm-login">
                                            <img src="~/login/img/ssohues.jpg" class="w-100">
                                        </div>
                                        <div class="col-md-10 d-flex align-items-center card-body py-1 bodyconfirm-login text-center">
                                            <p class="w-100 m-0">
                                                Xác thực qua cổng SSO Hue-S
                                                <br>   <strong>sso.huecity.vn</strong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>

            <div class="header-w3l mt-5">
                <H6>Copyright © Sở Du lịch thành phố Huế</H6>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/huecit/jquery.validate.min.js"></script>
    <script src="~/js/huecit/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.eye').click(function() {
                if($(this).hasClass('fa-eye-slash')) {
                    $(this).removeClass('fa-eye-slash');
                    $('#Password').attr('type', 'text');
                }else {
                    $(this).addClass('fa-eye-slash');
                    $('#Password').attr('type', 'password');
                }
            });
        })
    </script>
</body>
</html>
