@model TechLife.Model.DuLieuDuLich.DuLieuDuLichSearchRequest

<div style="max-width:1000px;">
    <div class="modal-content">
        <form method="get" action="/Thongke">
            <div class="modal-header">
                <h4 class="modal-title">Tìm kiếm nâng cao</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label asp-for="Keyword" class="control-label"></label>
                            <input asp-for="Keyword" class="form-control" />
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label class="control-label">Loại Thẻ</label>
                            <select asp-for="LoaiTheId" class="form-control select2" style="width:100%">
                                <option value="">Chọn</option>
                                <option value="1">Thẻ nội địa</option>
                                <option value="2">Thẻ quốc tế</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tình Trạng</label>
                            <select asp-for="TinhTrang" class="form-control select2" style="width:100%">
                                <option value="">Chọn</option>
                                <option value="Thẻ hết hạn">Thẻ hết hạn</option>
                                <option value="Thẻ còn hạn">Thẻ còn hạn</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label asp-for="NgonNguId" class="control-label"></label>
                            <select asp-for="NgonNguId" asp-items="Model.NgonNguItems" class="form-control select2" style="width:100%">
                                <option value="0">Tất cả</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input hidden name="Id" value="thongkehuongdanvien" />
                <button type="button" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                <button type="submit" name="type_submit" value="search" class="btn btn-success">Tìm kiếm</button>
                <button type="submit" name="type_submit" value="download"  class="btn btn-primary"><i class="fa fa-download"></i> Xuất file excel</button>
            </div>
            @{
                if (Model.TotalRecords > Model.PageSize)
                {
                    <div class="card-footer">
                        @await Component.InvokeAsync("Paging", new { page = Model })
                    </div>
                }
            }
        </form>

    </div>
</div>