
body {
    width: 98%;
}

.bg-login {
    background-image: url('/login/img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-w3l {
    text-align: center;
    padding-top: 60px;
}

    .header-w3l h3 {
        color: #0f5be3;
        font-size: 20px
    }

    .header-w3l h2 {
        color: #0f5be3;
        font-weight: bold;
        font-size: 25px
    }

    .header-w3l img {
        width: 100px;
    }

.sub-main-w3 {
    text-align: center;
    padding-top: 25px;
}

    .sub-main-w3 h2 {
        color: #0f5be3;
        font-weight: bold;
        font-size: 25px
    }

    .sub-main-w3 form {
        padding: 5px 250px;
    }

.user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 319px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: rgba(220, 236, 255, 0.1);
    border: 1px solid #DCECFF;
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pass {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 319px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: rgba(220, 236, 255, 0.1);
    border: 1px solid #DCECFF;
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.right-w3l button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 100%;
    height: 51px;
    left: 0px;
    top: 154px;
    background: #0754BF;
    border-radius: 4px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px;
}

span.input-group-addon {
    font-size: 25px;
    color: #0754bf;
    background-color: #e8f0fe;
    border: 1px solid #dce3f0;
    border-right: none;
}
/*--//footer--*/

/*--responsive--*/

@media(max-width: 1680px) {
    .header-w3l {
        padding-top: 100px;
    }
}

@media(max-width: 1600px) {
    .header-w3l {
        padding-top: 100px;
    }
}

@media(max-width: 1440px) {
    .header-w3l {
        padding-top: 100px;
    }
}

@media(max-width: 1366px) {
    .header-w3l {
        padding-top: 55px;
    }
}

@media(max-width: 1280px) {
    .header-w3l {
        padding-top: 100px;
    }
}

@media(max-width: 1080px) {
    .header-w3l {
        padding-top: 100px;
    }
}

@media(max-width: 1050px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 1024px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }

    .main-sidebar {
        width: 100%;
    }
}

@media(max-width: 991px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 900px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 800px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 768px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 736px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 667px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 640px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 600px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 568px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 480px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 440px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 414px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 384px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 375px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media(max-width: 320px) {
    .bg-login {
        display: none !important;
    }

    .sub-main-w3 form {
        padding: 0 20px;
    }

    .header-w3l h2 {
        font-size: 21px;
    }

    .header-w3l h3 {
        font-size: 17px;
        line-height: 1.5;
    }
}
/*--//responsive--*/
.w-100 {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}

.btn-login a:hover {
    color: #ffffff !important;
}

.text-center {
    text-align: center !important;
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.d-flex {
    display: flex !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.w-100 {
    width: 100% !important;
}

.card-confirmlogin:hover {
    background: #0754bf;
    color: #fff;
}

.iconconfirm-login {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyconfirm-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login .form-group .input-group i.eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 3;
    cursor: pointer;
    padding: 12px;
}

.card-confirmlogin .bodyconfirm-login p {
    margin: 0;
}

.pass {
    padding-right: 30px;
}

@media(max-width: 1800px) {
    .sub-main-w3 form {
        padding: 5px 200px;
    }
}

@media(max-width: 1680px) {
    .sub-main-w3 form {
        padding: 5px 120px;
    }
}

@media(max-width: 1280px) {
    .sub-main-w3 form {
        padding: 5px 100px;
    }
}

@media(max-width: 1180px) {
    .sub-main-w3 form {
        padding: 5px 80px;
    }
}

@media(max-width: 1080px) {
    .sub-main-w3 form {
        padding: 5px 40px;
    }
}

@media(max-width: 1050px) {
    .bg-login + div {
        width: 100%;
        padding-right: 0;
    }

    .sub-main-w3 form {
        width: 500px;
        margin: 0 auto;
    }
}

@media(max-width: 991px) {
    .card-confirmlogin .iconconfirm-login {
        flex-basis: 16.666666%
    }
}

@media(max-width: 640px) {
    .sub-main-w3 form {
        width: auto;
        margin: 0 auto;
    }
}

.input-group-text {
    color: #ffffff;
    background-color: #0754bf;
    border: 1px solid #0754bf;
}
