@using TechLife.Common
@model PagedResult<TechLife.Model.QuocTichModel>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                    <div class="card-tools">
                        <a href="#" data-url="/Danhmuc/Themquoctich/" class="btn btn-xs btn-success modal-popup">
                            <i class="fas fa-plus-circle"></i> Thêm mới
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table-hover table-striped table-bordered table">
                        <thead>
                            <tr>
                                <th width="5%" class="text-center">STT</th>
                                <th width="30%" class="text-center">Tên</th>
                                <th>Mô tả</th>
                                <th width="15%" class="text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null && Model != null)
                                {
                                    int stt = (Model.PageIndex - 1) * Model.PageSize + 1;
                                    foreach (var d in Model.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@stt</td>
                                            <td>@d.TenQuocTich</td>
                                            <td>@d.MoTa</td>
                                            <td class="text-center">
                                                <a title="Sửa quốc tịch" href="#" data-url="/Danhmuc/Suaquoctich/?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-warning btn-xs modal-popup"><i class="fas fa-edit"></i> Sửa</a>
                                                <a title="Xóa quốc tịch" data-url="/Danhmuc/Xoaquoctich/?id=@HashUtil.EncodeID(d.Id.ToString())" class="btn btn-danger btn-xs modal-popup"><i class="fas fa-trash"></i> Xóa</a>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                @if (Model.TotalRecords > Model.PageSize)
                {
                    <div class="card-footer">
                        @await Component.InvokeAsync("Paging", new { page = Model })
                    </div>
                }
            </div>
            <!-- /.card -->
        </div>
    </div>
</div><!-- /.container-fluid -->