@using TechLife.Model;
@using TechLife.Common;
@using TechLife.Common.Extension;
@model DiaPhuongModel

<form id="modal-form">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-blue">
                <strong>Thêm mới</strong>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Tên địa phương <span class="text-red">*</span></label>
                        <input asp-for="TenDiaPhuong" class="form-control" required />
                        <span asp-validation-for="TenDiaPhuong" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Thuộc</label>
                        <select asp-for="ParentId" asp-items="ViewBag.listDiaPhuong" class="form-control select2">
                            <option value="0">Gốc</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea asp-for="MoTa" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer float-right">
            @Html.AntiForgeryToken()
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                Hủy
            </button>
            <button type="submit" class="btn btn-success">Xác nhận</button>
        </div>
    </div>
</form>
<script src="@(Context.Request.PathBase)/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="@(Context.Request.PathBase)/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    defaultConfig(document.querySelector('#modal-form'));

    $('#modal-form').on('submit', function(e) {
        e.preventDefault();
        $(this).addClass('was-validated')
        if(!$(this).valid()) {
            showNotification({isSuccessed: false, message: "Vui lòng nhập đầy đủ thông tin"})
            return;
        }else {
            let formData = new FormData(this);
            showLoading();
            $.ajax({
                url: '/Danhmuc/Themdiaphuong',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                    hideLoading();
                    if (data.isSuccessed) {
                        dropModal();
                        showNotification(data);
                        let element = document.getElementById('view-content');
                        let params = window.location.search;
                        loadContent(`/Danhmuc/DiaPhuongList/${params}`, element);
                    }else {
                        showNotification(data);
                    }
                },
                error: function(xhr) {
                    hideLoading();
                    showNotification({ isSuccessed: false, message: xhr.responseText });
                }
            })
        }
    })
</script>